* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    width: 100vw;
}

.header {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: steelblue;
    box-shadow: 1px 1px 5px rgb(49, 109, 158);
}

h1 {
    text-align: center;
    color: white;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: repeat(auto-fit, 243px);
    gap: 30px;
    place-content: center;
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

.card {
    width: 250px;
    height: 243px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px ;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px steelblue;
    border: 4px solid steelblue;
    place-self: center;
}

.title {
    font-size: calc(1.3vw + 1vh);
    font-weight: bold;
    color: steelblue;
    text-align: center;
    word-break: break-word;
}

.author {
    font-size: 1.1rem;
    font-style: italic;
    color: lightsteelblue;
}

.pages {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

button:hover {
    cursor: pointer;
}

.read, .unread {
    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
}

.read {
    background-color: steelblue;
    color: white;
    border: none;
}

.unread {
    background-color: white;
    color: steelblue;
    border: 2px solid steelblue;
}

.read:hover {
    background-color: rgb(142, 182, 215);
}

.unread:hover {
    background-color: white;    
    color: lightsteelblue;
    border: 2px solid lightsteelblue;

}

.delete {
    margin-top: 15px;
    border: none;
    background-color: white;
    text-decoration: underline;
    align-self: center;
}

.delete:hover {
    color: grey;
}

#plus {
    font-size: 8rem;
    color: lightgray;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 1px 5px lightgray;
    border: 4px solid lightgray;
    width: 250px;
    height: 243px;
}

#plus:hover {
    color: rgb(231, 231, 231);
    background-color: rgb(247, 247, 247);
    border: 4px solid rgb(231, 231, 231);
}

dialog {
    margin: auto;
    padding: 30px;
}